h1 {
    margin: top 3px;
    font-family:monospace;
  text-align: center;
  }
.tab {
  color: rgba(122, 36, 235, 0.63);
  font-family: monospace;

}
.titulito {
 color: darkslateblue;
 background-color:rgba(154, 39, 199, 0.486);
}
.dias {
  color:rgb(154, 69, 211) ;
  background-color: rgba(130, 7, 230, 0.171);
}
.numeros {
    color:rgb(154, 69, 211) ;
  background-color: rgba(130, 7, 230, 0.171);
}
.hora {
    color:rgb(154, 69, 211) ;
    background-color: rgba(130, 7, 230, 0.171); 
}
.conteo {
    color:rgb(154, 69, 211) ;
    background-color: rgba(130, 7, 230, 0.171);
}


